option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: blacklist/wsgi.py

  # Procesos
  aws:elasticbeanstalk:container:python:NumProcesses: 3
  aws:elasticbeanstalk:container:python:NumThreads: 20

  # Configuraciones de ambiente
  aws:elasticbeanstalk:application:environment:
    FLASK_DEBUG: "1"
    APP_SETTINGS: "blacklist.config.DevelopmentConfig"
    FLASK_APP: "blacklist.app:create_app"
    JWT_SECRET_KEY: "QeThWmZq4t7w!z%C*F)J@NcRfUjXn2r5"
    POSTGRES_HOST: "postgres"
    POSTGRES_PORT: "5432"
    POSTGRES_DB: "app"
    POSTGRES_USER: "app"
    POSTGRES_PASSWORD: "123asd456"





