option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: blacklist.wsgi:app
  aws:elasticbeanstalk:application:environment:
    POSTGRES_HOST: 'app.c6hjnftyyenf.us-east-1.rds.amazonaws.com'
    POSTGRES_PORT: 5432
    POSTGRES_DB: 'app'
    POSTGRES_USER: 'app'
    POSTGRES_PASSWORD: '123asd456'
    APP_SETTINGS: 'blacklist.config.DevelopmentConfig'
    FLASK_APP: 'blacklist.app:create_app'
    JWT_SECRET_KEY: 'QeThWmZq4t7w!z%C*F)J@NcRfUjXn2r5'
    FLASK_DEBUG: 1


